@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Crushed);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Quicksand);


h1 {
	font-family: 'Crushed', cursive;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #21ff00, 0 0 30px #21ff00, 0 0 40px #21ff00, 0 0 55px #21ff00, 0 0 75px #21ff00;

}
h2{
	font-family: 'Monoton';
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
	text-align: center;


}
h3{
	font-family: 'Amatic SC';
	text-align: center;
	color: #ffffff;
}

body{
	background-color: #000000;
}




