@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Poppins|Didact+Gothic);
body
{
	font-family: "Poppins", sans-serif;
	font-size: 2em;
	color: #907E96;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #f9a4da, 0 0 30px ##f9a4da, 0 0 40px ##f9a4da, 0 0 55px ##f9a4da, 0 0 75px ##f9a4da;
	background-color: #1A0027;

}
h1
{
	font-size: 13vw;
	font-weight:normal;
}
h2
{
	font-size: 6vw;
	font-weight:normal;
	margin-top: -13vw;
	margin-bottom: -13vw;
}
b
{
	font-weight:normal;

}
#test
{
	font-size: 400%;
	font-family: 'Didact Gothic', sans-serif;
}
.neonPink
{
	font-family: "Poppins", sans-serif;
	color: #FFCAEE;
	text-align: center;
	text-shadow: 0 0 5px #f9a4da, 0 0 10px #f9a4da, 0 0 10px #ff0077, 0 0 25px #ff0077, 0 0 25px #ff0077, 0 0 40px #ff0077, 0 0 60px #ff0077;

}

.neonYellow
{
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffe500, 0 0 30px #ffe500, 0 0 40px #ffe500, 0 0 55px #ffe500, 0 0 75px #ffe500;

}


.neonBlue 
{
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00e9ff, 0 0 30px #00e9ff, 0 0 40px #00e9ff, 0 0 55px #00e9ff, 0 0 75px #00e9ff;

}

.neonPurple
{
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #7D0FB0, 0 0 30px #7D0FB0, 0 0 40px #7D0FB0, 0 0 55px #7D0FB0, 0 0 75px #7D0FB0;
	  -webkit-animation: fade 4s infinite alternate;
  -moz-animation: fade 4s infinite alternate;
  -o-animation: fade 4s infinite alternate;
  animation: fade 4s infinite alternate;

}

.neonGreen
{
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #65ff00, 0 0 30px #65ff00, 0 0 40px #65ff00, 0 0 55px #65ff00, 0 0 75px #65ff00;

}


.neonOrange
{
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fca05a, 0 0 30px #fca05a, 0 0 40px #fca05a, 0 0 55px #fca05a, 0 0 75px #fca05a;

}


.circle
{
	
	width: 0.2em;
	height: 0.2em;
	border-radius: 50%;
	text-align: center;
	/**background-color: #d3ffff;
	box-shadow: -1px -1px 60px 40px #0ff;**/
	
}



/*http://codersblock.com/blog/creating-glow-effects-with-css/*/

.blueCircle
{
	width: 0.3vw;
	height: 0.3vw;
	border-radius: 50%;
	position: relative;
	background-color: #fff;
	
    box-shadow:
        0 0 2.6vw 1.3vw #fff,  /* inner white */
        0 0 4.42vw 2.6vw #d8ffff, /* middle magenta */
        0 0 5.98vw 3.9vw #9ae2f0, /* outer cyan */
        0 0 7.8vw 5.2vw #0ff; /* outer cyan */
    z-index: 	-1;
    
}

#blueCircle1
{
	top: 39vw;
    left: 31vw;
    -webkit-animation: fade 4s infinite alternate;
  -moz-animation: fade 4s infinite alternate;
  -o-animation: fade 4s infinite alternate;
  animation: fade 4s infinite alternate;
}

.pinkCircle
{
	width: 0.3vw;
	height: 0.3vw;
	border-radius: 50%;
	text-align: center;
	position: relative;
	
	background-color: #fff;
	z-index: 	-1;
    box-shadow:
    	0 0 0.8vw 0.44vw #fff,
        0 0 2.6vw 1.3vw #fffdff,  /* inner white */
        0 0 4.42vw 2.6vw #CC5686, /* middle magenta */
        0 0 5.9vw 3.9vw #B61A64, /* outer cyan */
        0 0 7.8vw 5.2vw #991658; /* outer cyan */
}
#pinkCircle1
{
	top: 10.5vw;
    left: 31vw;
}
#pinkCircle2
{
	top: 34vw;
    left: 62vw;
}
#yellowCircle
{
	width: 0.3vw;
	height: 0.3vw;
	opacity: 1.1;
	border-radius: 50%;
	text-align: center;
	position: relative	;
	top: 15vw;
    left: 68vw;
	background-color: #fff;
	z-index: 	-1;
    box-shadow:
    	0 0 0.8vw 0.44vw #fff,
        0 0 2.6vw 1.3vw #FCF9C6,  /* inner white */
        0 0 4.42vw 2.6vw #DFD55C, /* middle magenta */
        0 0 5.9vw 3.9vw #CEC159, /* outer cyan */
        0 0 7.8vw 5.2vw #928149; /* outer cyan */
}
#circleContainer
{
	position: relative;
}

#title
{
	z-index: 	0;
	position: relative;
	top: -2em;
    left: 0em;
}



#fade {
  
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00e9ff, 0 0 30px #00e9ff, 0 0 40px #00e9ff, 0 0 55px #00e9ff, 0 0 75px #00e9ff;
  -webkit-animation: fade 2s infinite alternate;
  -moz-animation: fade 2s infinite alternate;
  -o-animation: fade 2s infinite alternate;
  animation: fade 2s infinite alternate;
}

@-moz-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-webkit-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-o-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
